*{
    margin: 0;
    padding: 0;
}

body{
   
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.navbar{
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}


.book-container{
    padding: 20px;
    width: 250px;
    background-color: rgb(3, 3, 3);
    border-radius: 10px;
    color: white;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.one{
    color: burlywood;
}
.two{
    color: brown;
}
.book-container button{
    background-color: beige;
    color: rgb(12, 12, 12);
     border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    overflow: hidden;

}
.addbutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: aquamarine;
    margin-left:95% ;
    margin-top:20% ;
    font-size: 20px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    position: fixed;
    

}

.popupoverlay{
   background-color: rgb(15, 14, 14);
   opacity: 0.8;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1;
   display: none;
   

}

.popupbox{
      background-color: aquamarine;
      width: 40%;
      padding: 40px;
      border-radius: 10px;
      position: absolute;
      top: 20%;
      left: 30%;
      z-index: 2;
      display: none;

}
.popupbox input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
    
}

.popupbox textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid rgb(12, 12, 12) 2px;
}
.popupbox button{
    background-color: white;
    color: rgb(12, 12, 12);
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    cursor: pointer;
    
}
.popupbox input:focus{
    outline: none;


}
.popupbox textarea:focus{
    outline: none;


}
